* {
  box-sizing: border-box;
}

.widget {
  height: 15vh;
  min-width: 15vh;
  max-width: 25vh;
  border-radius: 2vh;

  margin: 2vh;

  display: inline-flex;

  flex-direction: column;
  align-items: center;
  justify-content: start;

  transition-duration: 0.25s;
  transition-property: box-shadow, transform;
  transition-timing-function: ease-in-out;

  background: rgba(255, 255, 255, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;
  /* padding: 1vh; */
}

.widget:hover {
  cursor: pointer;
  transform: scale(1.1);

  -webkit-box-shadow: 0px 0px 44px 0px rgba(73, 182, 255, 1);
  -moz-box-shadow: 0px 0px 44px 0px rgba(73, 182, 255, 1);
  box-shadow: 0px 0px 44px 0px rgba(73, 182, 255, 1);

  /* overflow: hidden; */
}

.widgetImage {
  height: 5vh;
  width: 5vh;
  margin-top: 3vh;
  margin-bottom: 1.5vh;
}

.widgetTitle {
  width: 80%;

  color: white;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  font-family: Euclid, sans-serif, Arial, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;

  font-weight: 700;

  /* max-height: 4vh; */
  margin-bottom: 1.5vh;
}

#widgetContainer {
  position: absolute;
  height: 40%;
  width: 100%;

  left: 0;
  bottom: 10%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  /* border: red solid 1px; */
  /* padding: 5vh; */
}

#shortcutContainer {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 40%;
  /* border: solid red 1px; */

  padding: 0 20vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.shortcut {
  background-color: rgba(241, 241, 241, 0.722);

  margin-left: 3vh;
  margin-right: 3vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.shortcutIcon {
  max-height: 80%;
  width: 80%;
}

.shortcutLink {
  position: absolute;
  z-index: 1;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;

  /* border: solid red 1px; */
}
